@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    padding: none;   
    outline: none;
}

/* Default classes */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 6px;
}

/* Buttons classes */
.btn {
    background-color: #ecf0f1;
    padding: 12px 18px;
    text-align: center;
    font-size: 14pt;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn.min-round {
    border-radius: 6px;
}

.btn.round {
    border-radius: 10px;
}

/* Button colors */
.primary {
    background-color: #3498db;
    color: #ecf0f1;
    font-weight: 600;
}

.primary:hover {
    background-color: #2980b9;
}

.secondary {
    background-color: #9b59b6;
    color: #ecf0f1;
    font-weight: 500;
}

.secondary:hover {
    background-color: #8e44ad;
}

.warning {
    background-color: #e74c3c;
    color: #ecf0f1;
    font-weight: 600;
}

.warning:hover {
    background-color: #c0392b;
}

.transparent {
    background-color: transparent;
    padding: 11px 17px;
    border: 1px solid;
}

.transparent:hover {
    background-color: #ecf0f1;
}

.t-primary {
    background-color: transparent;
    color: #3498db;
}

.t-primary:hover {
    background-color: #3498db;
    color: #ecf0f1;
}

.t-secondary {
    background-color: transparent;
    color: #9b59b6;
}

.t-secondary:hover {
    background-color: #9b59b6;
    color: #ecf0f1;
}

.t-warning {
    background-color: transparent;
    color: #e74c3c;
}

.t-warning:hover {
    color: #ecf0f1;
    background-color: #e74c3c;
}

/* Text classes */
span.unactive {
    color: #95a5a6;
}

/* Inputs */
.input {
    padding: 12px 16px;
    font-size: 12pt;
}

.anim-1 {
    width: 25%;
    transition: width 0.3s ease;
}

.anim-1:hover {
    width: 25.5%;
}

.anim-1:focus {
    width: 26%;
}

/* Alerts */

.alert {
    padding: 12px 18px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.a-reset {
    font-weight: 400;
}

.a-transp {
    border: 2px solid;
    border-color: initial;
}